BOT_TOKEN=your_bot_token_here

SOURCE_CHANNEL=source_channel_here
DESTINATION_CHANNEL=destination_channel_here

START_DATE=2026-09-05

SCHEDULE_1=10:00
SCHEDULE_2=15:00
SCHEDULE_3=20:00

BRAND_USERNAME=@your_channel

COVER_PATH=assets/cover.jpg

DATABASE_URL=your_supabase_database_url_here
